@page
@model AccessDeniedModel

@using MVC_Blog.Services
@using Microsoft.Extensions.Configuration
@inject IFileService _fileService
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Access denied";

    ViewData["HeaderText"] = "Access denied";

    var DefaultImage = await _fileService.EncodeFileAsync(_configuration["DefaultHomePageImage"]);
    var DefaultContentType = _configuration["DefaultHomePageImage"].Split('.')[1];
    ViewData["HeaderImage"] = _fileService.DecodeImage(DefaultImage, DefaultContentType);
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
