@page
@model ConfirmEmailChangeModel

@using MVC_Blog.Services
@using Microsoft.Extensions.Configuration
@inject IFileService _fileService
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Confirm email change";

    ViewData["HeaderText"] = "Confirm Email Change";

    var DefaultImage = await _fileService.EncodeFileAsync(_configuration["DefaultHomePageImage"]);
    var DefaultContentType = _configuration["DefaultHomePageImage"].Split('.')[1];
    ViewData["HeaderImage"] = _fileService.DecodeImage(DefaultImage, DefaultContentType);
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />