@page
@model ForgotPasswordConfirmation

@using MVC_Blog.Services
@using Microsoft.Extensions.Configuration
@inject IFileService _fileService
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Forgot password confirmation";

    ViewData["HeaderText"] = "Forgot Your Password Confirmation";

    var DefaultImage = await _fileService.EncodeFileAsync(_configuration["DefaultHomePageImage"]);
    var DefaultContentType = _configuration["DefaultHomePageImage"].Split('.')[1];
    ViewData["HeaderImage"] = _fileService.DecodeImage(DefaultImage, DefaultContentType);
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

