@page
@model LockoutModel

@using MVC_Blog.Services
@using Microsoft.Extensions.Configuration
@inject IFileService _fileService
@inject IConfiguration _configuration

@{
    ViewData["Title"] = "Locked out";

    ViewData["HeaderText"] = "Locked Out";

    var DefaultImage = await _fileService.EncodeFileAsync(_configuration["DefaultHomePageImage"]);
    var DefaultContentType = _configuration["DefaultHomePageImage"].Split('.')[1];
    ViewData["HeaderImage"] = _fileService.DecodeImage(DefaultImage, DefaultContentType);
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
